#bg {
    background-color: #0c0c0c;
    left: 50%;
    position: absolute;
    top: 50%;
    border-radius: 9px;
    overflow:hidden;
   }
#bg:after,
#bg:before {
    content: "";
    display: block;
  }

#bg:before {
    background-color:  #f8e34b;
    top: 0;
    height: 50%;
    width: 100%;
    left: 0;

    z-index: 1;
}
#bg:after {
    background-color:#eeedef  ;
    bottom: 0;
    left:0;
    width: 50%;
    height: 50%;

}
